/build/
/dist/
/doc/build/
/doc/source/apps/squirrel/reference/
/pyrocko.egg-info/
/src/info.py

/evalresp-3.3.0/
/libmseed/

__pycache__/
*.py[cod]
*~
*.swp
*.so

.cache/
/tags
/scratch/
*.sublime-*
/htmlcov/
/.coverage
/.coverage.*
*.log
*.err_log
.vagrant
.idea

/test/example_run_dir/
/test/data/

/maintenance/**/pyrocko.git/
/maintenance/conda/miniconda?.sh
/maintenance/conda/miniconda?/
/maintenance/vagrant/*/*.out
/maintenance/vagrant/*/example_run_dir
/maintenance/vagrant/*/pyrocko-test-data
/maintenance/mattermost_webhook.link
/maintenance/pypirc
/maintenance/pip/pyrocko/
/maintenance/pip/wheels/

/docker/pyrocko-test-data/
/docker/*/pyrocko-test-data/
