/build/
/dist/
/doc/build/
/pyrocko.egg-info/
/src/info.py
/src/ext/cuda/_build
/src/ext/cuda/profiling/**/

/evalresp-3.3.0/
/libmseed/

__pycache__/
*.py[cod]
*~
*.swp
*.so

.cache/
/tags
/scratch/
*.sublime-*
/htmlcov/
.coverage
.coverage.*
coverage.*
*.log
*.err_log
.vagrant
valgrind-python.supp
Pipfile*

/test/example_run_dir/
/test/data/
/test/benchmark/

/maintenance/**/pyrocko.git/
/maintenance/conda/miniconda?.sh
/maintenance/conda/miniconda?/
/maintenance/vagrant/*/*.out
/maintenance/vagrant/*/example_run_dir
/maintenance/vagrant/*/pyrocko-test-data
/maintenance/mattermost_webhook.link
/maintenance/pypirc
/maintenance/pip/pyrocko/
/maintenance/pip/wheels/


