fail_fast: true
files: ^(src/|test/|examples/|setup.py)
repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: ^(src/|test/|examples/|setup.py)
    types: [python]
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
    - id: clang-format
      files: \.(c|h|cpp|hpp)$
      args: [--style=Google]
      exclude: ^(src/ext/pyavl-1.12/)
