language: python

env:
    global:
        - OMP_NUM_THREADS=2

matrix:
    include:
        - os: linux
          sudo: required
          python: 2.7
          cache: pip
          virtualenv:
              system_site_packages: true
        - os: osx
          osx_image: xcode7.3
          language: generic

cache:
  directories:
  - $HOME/test/data

addons:
    apt:
        packages: [ python-qt4, python-qt4-gl, python-qt4-dev, python-dev,
            python-scipy, gfortran, libatlas-dev, libopenblas-dev,
            python-matplotlib, python-yaml, python-tk, libyaml-dev,
            poppler-utils, ghostscript, imagemagick, xvfb ]

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew tap homebrew/science; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew tap homebrew/python; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink libyaml; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gcc libyaml; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip install matplotlib; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then xcode-select --install || true ; fi
    - pip install progressbar setuptools flake8 pyyaml coveralls jinja2 future
    - easy_install pyavl
    - git clone https://github.com/pyrocko/fomosto-qseis
    - cd fomosto-qseis; autoreconf -i; ./configure; make; export PATH=$PATH:`pwd`/src; cd ..
    - git clone https://github.com/pyrocko/fomosto-qseis2d
    - cd fomosto-qseis2d; autoreconf -i; ./configure; make; export PATH=$PATH:`pwd`/src; cd ..
    - git clone https://github.com/pyrocko/fomosto-psgrn-pscmp
    - cd fomosto-psgrn-pscmp; autoreconf -i; ./configure; make; export PATH=$PATH:`pwd`/src/psgrn:`pwd`/src/pscmp; cd ..
    - git clone https://github.com/pyrocko/fomosto-qssp.git
    - cd fomosto-qssp; autoreconf -i; ./configure; make; export PATH=$PATH:`pwd`/src; cd ..

before_script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then flake8 src/ test/ ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0 ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sleep 3 ; fi

install:
    - sudo python setup.py install

script:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo python setup.py test; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo coverage run --source=pyrocko setup.py test; fi

after_success:
    - coveralls

notifications:
    email: false
